<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="app.itw.cloud.seata.storage.mapper.StorageInfoMapper">
  <!-- Tison -->
  <!-- 通用查询映射结果 -->
  <resultMap id="BaseResultMap" type="app.itw.cloud.seata.storage.entity.StorageInfo">
    <result column="id" property="id"/>
    <result column="commodity_code" property="commodityCode"/>
    <result column="count" property="count"/>
  </resultMap>

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
        id,
        commodity_code, count
    </sql>

</mapper>
